body {
  font-family: Sniglet, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p,
a,
body {
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: calc(32px + (52 - 32) * ((100vw - 300px) / (1000 - 300)));
}

h1 {
  font-size: calc(26px + (44 - 26) * ((100vw - 300px) / (1000 - 300)));
}

h2 {
  font-size: calc(24px + (34 - 24) * ((100vw - 300px) / (1000 - 300)));
}

a,
h3,
p,
li {
  font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1000 - 300)));
}

.p2 {
  font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1000 - 300)));
}

.p3 {
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1000 - 300)));
}

.p4 {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1000 - 300)));
}

h3,
p,
.p2,
.p3 {
  font-family: Rubik;
}

.ctn {
  position: relative;
  padding: 3.75rem 6.5rem;
  max-width: 1000px;
  margin: 0 auto;
}
