.habport {
  background-image: linear-gradient(to right, #e6e3e8 42%, #f5f5ed 0%);
}

.habport-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  position: relative;
  padding: 3.75rem 6.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.habilidades h1 {
  color: #303030;
}

.habilidades h2 {
  font-family: Rubik;
  color: #4d4d4d;
  margin-top: 2.15rem;
}

.habilidades-container {
  align-items: center;
  justify-items: center;
  padding-right: 4.3rem;
}

.item-habilidades {
  font-family: Rubik;
  color: #696969;
  font-weight: 300;
  font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1000 - 300)));
}

.portfolio-container {
  position: relative;
  align-items: center;
  justify-items: center;
  text-align: end;
  padding-left: 4.3rem;
}

@media (max-width: 1025px) {
  .habport {
    background-image: linear-gradient(to right, #e6e3e8 42%, #f5f5ed 0%);
  }
}

@media (max-width: 904px) {
  .habport {
    background-image: none;
  }
  .habport-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: unset;
    padding: 0rem;
    max-width: unset;
    margin: 0;
  }

  .habilidades {
    background-color: #e6e3e8;
  }

  .habilidades-container {
    justify-items: normal;
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    background-color: none;
    position: relative;
    padding: 3.75rem 6.5rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .lista-habilidades {
    grid-column: 1 / 2;
  }
  .lista-habilidades2 {
    grid-column: 2 / 3;
    justify-self: end;
    text-align: right;
  }
  #habilidades-titulo {
    grid-column: 1 / 3;
  }
  .habilidades h2 {
    margin-top: 1.25rem;
  }
  .portfolio {
    background-color: #f5f5ed;
  }
  .portfolio-container {
    justify-items: normal;
    display: grid;
    column-gap: 0rem;
    grid-template-columns: 1fr;
    position: relative;
    align-items: center;
    text-align: left;
    padding: 3.75rem 6.5rem;
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .habilidades-container {
    column-gap: 0rem;
    grid-template-columns: 1fr;
  }

  .lista-habilidades,
  .lista-habilidades2,
  #habilidades-titulo {
    grid-column: 1;
  }
  .lista-habilidades2 {
    justify-self: start;
    text-align: left;
  }
  .habilidades h2 {
    margin-top: 1.8rem;
  }
}

@media (max-width: 660px) {
  .habilidades h2 {
    margin-top: 1.5rem;
  }
}

@media (max-width: 550px) {
  .habilidades h2 {
    margin-top: 1.25rem;
  }
}
