.header {
  color: #4d4d4d;
  background-color: #fafafa;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-right: auto;
  align-items: center;
  justify-items: center;
  position: relative;
}

.header-logo h1 {
  color: #4d4d4d;
  justify-self: center;
}

.header-logo img {
  width: 3.43rem;
  height: 3.43rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-left: auto;
}

.header-menu a {
  color: #4d4d4d;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-size: calc(21px + (24 - 21) * ((100vw - 300px) / (1000 - 300)));
}

.header-menu a:hover {
  background-color: #faf2ff;
  transition: 0.4s;
}

.header-container,
.header-logo,
.header-menu {
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

@media (max-width: 1144px) {
  .header-logo {
    min-width: 1000px;
  }
  .header-menu a {
    padding: 0rem;
  }
}

@media (max-width: 910px) {
  .header-logo img {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 805px) {
  .header-logo img {
    width: 2.75rem;
    height: 2.75rem;
  }
}

@media (max-width: 653px) {
  .header-menu {
    gap: 1.25rem;
  }
  .header-logo img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 550px) {
  .header-logo {
    min-width: initial;
  }
  .header-logo img {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 339px) {
  .header-logo img {
    width: 1.75rem;
    height: 1.75rem;
  }
}
